.banner {
  background-image: url("webpagenew.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(63, 67, 64, 0.314) 0px 7px 29px 0px;
}
.logo{
  width: 300px;
}
.goodhealth .banner-text
{
  margin-top: -20px;
}
.banner-text {
  font-size: 18px;
  color: rgb(31, 127, 39);
  top: 5px;
  text-shadow: rgba(52, 54, 58, 0.301);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section{
    margin: 75px 250px;
  }
.section .container {
display: grid;
grid-template-columns: repeat(4, 0fr);
grid-template-rows: auto;
grid-gap: 35px;
}
.section .container .items {
margin: 10px;
width: 200px;
height: 200px;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
a{
  text-decoration: none;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
.section .container .items .img1 .name{
width: 200px;
height: 200px;
border-radius: 12px;
position: absolute;
}
.section .container .items .img1{
margin: 30px 67px;

}
/* .img1{
height: 25px;
width: 25px;
} */
.section .container .items .name{
text-align: center;
}
.name{
font-family:Arial, Helvetica, sans-serif;
font-size: 15px;
}
.section .container .items:hover {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .webimg {
    width: 100%;
    /* max-width: 800px; */
    display: block;
}
  .section{
    width: 100%;
  }
  .section .container {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    }
    .section .container .items {
      margin: 5px;
      width: 200px;
      height: 200px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      }

      .section .container .items .name {
        text-align: center;
        color: green;
    }

      a{
        text-decoration: none;
      }
      a:hover{
        text-decoration: none;
      }
      h1{
        text-align: center;
        width: 270%;
      }
      .section .container .items .img1 .name{
      width: 200px;
      height: 200px;
      border-radius: 12px;
      position: absolute;
      }
      .section .container .items .img1{
      margin: 30px 67px;
      
      }
      /* .img1{
      height: 25px;
      width: 25px;
      } */
      .section .container .items .name{
      text-align: center;
      }
      .name{
      font-family:Arial, Helvetica, sans-serif;
      font-size: 15px;
      }
      .section .container .items:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
}